<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wi dth, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Cash </title>
    <header>
      <h1>My Pharma</h1> 
    </header>
  </head>

  <body>

    <nav>
      <input id="button" type="checkbox">
      <label for="button"></label>
      <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('sales') }}">Sales</a></li>
          <li><a href="{{ url_for('purchases') }}">Purchases</a></li>
          <li><a href="{{ url_for('sales_invoices') }}">Sales invoices</a></li>
          <li><a href="{{ url_for('purchases_invoices') }}">Purchases invoices</a></li>
          <li><a href="{{ url_for('Unavailable_Medications') }}">Unavailable_Medications</a></li>
          <li><a href="{{ url_for('missing') }}">missing</a></li>
          <li><a href="{{ url_for('inventory') }}">inventory</a></li>
          <li><a href="{{ url_for('cash') }}">cash</a></li>
      </ul>
  </nav>
    
    <h1>Cash</h1>

    <div class="container">
      <h2>Enter the amount of money</h2>
      <input type="text" id="numberInput" placeholder="Enter here ... " min="1">
      <input type="button" value="Check" id="checkButton">
      <div class="result"></div>
    </div>

  <footer>
      <p>©2024 My Pharma</p>
    </footer>
  </body>
</html>

<script>
  const numberInput = document.getElementById('numberInput');
  const checkButton = document.getElementById('checkButton');
  const resultDiv = document.querySelector('.result');

  checkButton.addEventListener('click', () => {
      const inputNumber = parseFloat(numberInput.value);
      const difference = Math.abs(1000 - inputNumber);

      if (inputNumber === 1000) {
          resultDiv.textContent = 'Great!';
      } else {
        if (inputNumber < 1000) {
          resultDiv.textContent = `!!! There is a shortage: -${difference} pounds !!!`;
      } else {
          resultDiv.textContent = `There is an additional: ${difference} pounds`;
      }
      }
  });
</script>