<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home </title>
  <header>
    <h1> My Pharma</h1>
  </header>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/Home.css') }}">
</head>

<body>
  
  <section id="form-section">
    <form id="employee-form" method="POST" action="{{ url_for('login') }}">
      <h1>Sign In</h1>
      <h4>Password:</h4>
      <input type="password" id="password" name="password" required><br><br>
      <input type="submit" value="Sign In">
      {% if error_message %}
        <p>{{ error_message }}</p>
      {% endif %}
    </form>
  </section>
  <footer>
    <p>&copy; 2024 My Pharma</p>
  </footer>
</body>

</html>