<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>
    <header>
        <h1> My Pharma</h1>
    </header>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/sales.css') }}">
</head>

<body>
    <div class="container">
        <nav>
            <input id="button" type="checkbox">
            <label for="button"></label>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('sales') }}">Sales</a></li>
                <li><a href="{{ url_for('purchases') }}">Purchases</a></li>
                <li><a href="{{ url_for('sales_invoices') }}">Sales invoices</a></li>
                <li><a href="{{ url_for('purchases_invoices') }}">Purchases invoices</a></li>
                <li><a href="{{ url_for('Expire') }}">Expire</a></li>
                <li><a href="{{ url_for('missing') }}">missing</a></li>
                <li><a href="{{ url_for('inventory') }}">inventory</a></li>
                
            </ul>
        </nav>
        <br><br>
        <h1>Sales</h1>
        <div class="search-container">
            <form action="#">
                <input type="text" placeholder="Pharmacist id" id="Id">
                <input type="text" placeholder="Customer id" id="Customer_id">
                <br><br>
                <input type="text" placeholder="Search for Medicine" name="search" id="Search">
                <button type="button" id="addButton">Add</button> <!-- Change type to "button" -->
            </form>
        </div>
        
        <br><br><br>
        <div>
            <h3>Search Results :</h3>
            <table>
                <thead>
                   
                </thead>
                
            </table>
            <table>
                <thead>
                    <tr>
                        <th>M-ID</th>
                        <th>Medicine Name</th>
                        <th>Quantity</th>
                        <th>Quantity sold</th>
                        <th>Price</th>
                        <th>Expiration date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id="tttable" style="background-color: rgb(206, 209, 212);"></tbody>
                
                <tbody id="ttable"></tbody>
            </table>
     
            
            <br>
            <u>
                <h3 id="totalPrice">Total Price: $0.00</h3>
            </u>
            
            <br>
            <p>
                <button type="submit" id="saveSellBtn">Save & Sell</button>
            </p>
            </nav>
            </main>
        </div>
        <br><br>
        <footer>
            <p>&copy; 2024 My Pharma</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/sales.js') }}"></script>
 </body>

</html>