* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	background-size: 100%;
	background-image: url("p.jpeg");
	background-size: cover;
	display: grid;
	background-color: #f0f0f0;
}

header {
	background-color: #0005ff;
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	position: fixed;
	padding: 10px;
	bottom: 0;
	width: 100%;
}

nav {
	position: fixed;
	top: 0;
	z-index: 3;
	min-width: 35vw;
	overflow: hidden;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-height: 0px;
	background-color: #ffffff;
	color: #333;
	padding-left: 40px;
	padding-right: 40px;
	border-bottom-right-radius: 15px;
	transition: max-height .8s, padding 1.2s;
}

li {
	padding: 1px;
	list-style: none;
	font-style: oblique;
}

li:hover {
	background-color: #7c72ed;
	border-radius: 10px;
	padding: 10px;
	transition: padding 0.60s;
}

nav ul li a {
	color: #0005ff;
	text-decoration: none;
	font-weight: bold;
}

/*button===========*/
label {
	margin: 15px;
	width: 60px;
	height: 10px;
	border-top: #0088ff solid 15px;
	border-right: rgba(0, 0, 0, 0%) solid 30px;
	border-bottom: rgba(0, 0, 0, 0%) solid 30px;
	border-left: rgba(0, 0, 0, 0%) solid 30px;
	border-radius: 0px;
	position: fixed;
	z-index: 4;
	color: white;
	transition: 1s;
}

#button {
	display: none;
}

#button:checked~ul {
	max-height: 500px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#button:checked~label {
	transform: rotate(180deg);
	margin-top: -20px;
	border-top: #0005ff solid 15px;
}

@media (min-width: 480px) {
	body {
		background-position: right;
	}

	ul {
		flex-direction: row;
		justify-content: space-around;
	}

	#button:checked~ul {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

/*========================================================*/
h1 {
	text-align: center;
}
#form-section {
	text-align: center;
	background-size: cover;
	padding: 15%;
}

form {
	display: inline-block;
	text-align: left;
	padding: 6.5%;
	border: 1px solid #ccc;
	border-radius: 3%;
	box-sizing: border-box;
	background-color: rgba(270, 255, 255, 0.7);
}

/* Submit Button Styles */
input[type="submit"] {
	background-color: #0005ff;
	/* Green background color */
	color: white;
	/* Text color */
	padding: 2% 40%;
	/* Padding */
	border: none;
	/* Remove border */
	border-radius: 5px;
	/* Rounded corners */
	cursor: pointer;
	/* Add cursor pointer */
	font-size: 16px;
	/* Font size */
	transition: background-color 0.3s ease;
	/* Smooth transition */
}

/* Hover effect */
input[type="submit"]:hover {
	background-color: #bd0704;
	/* Darker green on hover */
}