/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: #0005ff;
  color: #fff;
  padding: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

nav{
	position: fixed;
	top: 0;
	z-index: 3;
  min-width: 35vw;
	overflow: hidden;
}

ul{
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-height: 0px;
	background-color: #333;
	color: #333;
	padding-left: 40px;
	padding-right: 40px;
  border-bottom-right-radius: 15px;
	transition: max-height .8s, padding 1.2s;
}

li{
	padding: 1px;
	list-style: none;
  font-style: oblique;
}
li:hover{
	background-color: #7c72ed;
  border-radius: 10px;
  padding: 10px;
  transition: padding 0.60s;

}
nav ul li a {
  color: #0005ff;
  text-decoration: none;
  font-weight: bold;
}
label{
	margin: 15px;
	width: 60px;
	height: 10px;
	border-top: #0088ff solid 15px;
	border-right: rgba(0, 0, 0, 0%) solid 30px;
	border-bottom: rgba(0, 0, 0, 0%) solid 30px;
	border-left: rgba(0, 0, 0, 0%) solid 30px;
  border-radius: 5px;
	position: fixed;
	z-index: 4;
	color: white;
	transition: 1s;
}

#button{
	display: none;
}

#button:checked ~ ul{
	max-height: 500px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#button:checked ~ label{
	transform: rotate(180deg);
  margin-top: -20px;
  border-top: #0005ff solid 15px;

}

.head-quote{
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: flex-start;
	justify-content: center;
	gap: 20px;
	padding: 25px;
	border: solid #00aeff 8px;
}

.quote-text{
	color: rgb(228, 229, 235);
	font-size: 57px;
	font-weight: 900;
	text-shadow: 1.5px 1.5px rgb(142, 61, 61) ;
}

@media (min-width: 480px){

	body{
		background-position: right;
	}

	ul{
		flex-direction: row;
		justify-content: space-around;
	}
	
	#button:checked ~ ul{
		padding-top: 25px;
                padding-bottom: 25px;
	}
}

  
h1 {
  margin-bottom: 10px;
  text-align: center;
}

body {
  background-color: #f0f0f0;
}
/* تنسيق الجدول */
table {
  width: 100%;
  margin: auto;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;

}

/* تنسيق حقل البحث */
.search-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  border: 1px solid #000;
  width: 250px;
  border-radius: 6px;
  font-size: 17px;

}

.search-container button {
  padding: 8px 12px;
  margin-top: 8px;
  margin-left: 0.3%;
  background: #0005ff;
  color: white;
  border-radius: 6px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* تنسيق النتائج */
.results-container {
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.container {
  width: 90%;
  background-color: #fff;
  margin: 75px auto;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.FirstTr {
  background-color: #f0f0f0;
}

.container input[type="number"] {
width: 80%;
padding: 10px;
margin-bottom: 5%;
margin-left: 10%;
margin-right: 10%;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-size: 16px;
}
.container input[type="button"] {
  width: 30%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 35%;
  margin-right: 35%;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 16px;
}

.container input[type="button"] {
  background-color: #0005ff;
  color: #fff;
  cursor: pointer;
}

.container input[type="button"]:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 10px;
  text-align: center;
}

.order-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.order-container button {
  padding: 8px 12px;
  margin-top: 8px;
  margin-left: 0.3%;
  background: #0005ff;
  color: white;
  border-radius: 6px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}