<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>purchases</title>
    <link rel="stylesheet" href="purchases.css">
</head>

<body>
    <header>
        <h1> My Pharma</h1>
        </nav>
    </header>
    <main>
        <nav>
            <input id="button" type="checkbox">
            <label for="button"></label>
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="sales.html">Sales</a></li>
                <li><a href="purchases.html">Purchases</a></li>
                <li><a href="Sales invoices.html"> Sales invoices</a></li>
                <li><a href="purchases invoices.html"> purchases invoices</a></li>
                <li><a href="Unavailable Medications.html">Unavailable Medications</a></li>
                <li><a href="Near expiry.html">Near expiry</a></li>
                <li><a href="inventory.html">Inventory</a></li>
                <li><a href="Cash.html">Cash</a></li>
            </ul>
        </nav>
        <br>
        <h1>purchases</h1>
        <br>
        <div class="search-container">
            <form action="#">
                <input type="search" placeholder="Search for Medication" name="search">
                <button type="submit">Search</button>
            </form>
        </div>
    <br><br>
        <div>
            <h3>Search Results :</h3>
            <table>
                <thead>
                    <tr>
                        <th>M-ID</th>
                        <th>Supplier-ID</th>
                        <th>Medication Name</th>
                        <th>Supplier Name</th>
                        <th>Quantity</th>
                        <th>Supplier Price</th>
                        <th>Price</th>
                        <th>Expiration date</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><input type="text"></td>
                        <td>Name</td>
                        <td><input type=""></td>
                        <td><input type="number"></td>
                        <td><input type="text"></td>
                        <td>$$$$</td>
                        <td>0-0-0000</td>
                        <td></td>
                    </tr>
                
                </tbody>
            </table>
            <p><button type="submit">Save </button> <button type="submit">Cancel</button></p>
    </main>
    <br><br>
    <footer>
        <p>&copy; 2024 My Pharma</p>
    </footer>
</body>

</html>