<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales invoices </title>
    <link rel="stylesheet" href="Sales invoices.css">
</head>

<body>
    <header>
        <h1> My Pharma</h1>
        </nav>
    </header>
    <nav>
        <input id="button" type="checkbox">
        <label for="button"></label>
        <ul>
            <li><a href="Home.html">Home</a></li>
            <li><a href="sales.html">Sales</a></li>
            <li><a href="purchases.html">Purchases</a></li>
            <li><a href="Sales invoices.html"> Sales invoices</a></li>
            <li><a href="purchases invoices.html"> purchases invoices</a></li>
            <li><a href="Unavailable Medications.html">Unavailable Medications</a></li>
            <li><a href="Near expiry.html">Near expiry</a></li>
            <li><a href="inventory.html">Inventory</a></li>
            <li><a href="Cash.html">Cash</a></li>
        </ul>
    </nav>
    <br><br>
    <div>
        <h1>Sales Invoices</h1>
        <p><input type="date" ></p>
        <table>
            <thead>
                <tr>
                    <th> ID</th>
                    <th>Pharmacist ID</th>
                    <th>Customer ID</th>
                    <th>Medication Name</th>
                    <th>Quantity sold</th>
                    <th>Price($)</th>
                    <th>Unit</th>
                    <th>Total-M</th>
                    <th>Total invoice</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>name</td>
                    <td>0</td>
                    <td>0</td>
                    <td>$$$$</td>
                    <td>$$$$</td>
                </tr>
            </tbody>
        </table>
        <p>
            <button type="submit">Print</button> 
        </p>
    </div>
    </main>
    <br><br>
    <footer>
        <p>&copy; 2024 My Pharma</p>
    </footer>
</body>

</html>