<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>
    <header>
        <h1> My Pharma</h1>
    </header>
    <link rel="stylesheet" href="sales.css">
</head>

<body>
    <div class="container">
        <nav>
            <input id="button" type="checkbox">
            <label id="L" for="button"></label>
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="sales.html">Sales</a></li>
                <li><a href="purchases.html">Purchases</a></li>
                <li><a href="Sales invoices.html"> Sales invoices</a></li>
                <li><a href="purchases invoices.html"> purchases invoices</a></li>
                <li><a href="Unavailable Medications.html">Unavailable Medications</a></li>
                <li><a href="Near expiry.html">Near expiry</a></li>
                <li><a href="inventory.html">Inventory</a></li>
                <li><a href="Cash.html">Cash</a></li>
            </ul>
        </nav>
        <br><br>
        <h1>Sales</h1>
        <div class="search-container">
            <form action="#">
                <input type="search" placeholder="Search for Medication" name="search">
                <button type="submit">Search</button>
            </form>
        </div>
    <br><br><br>
        <div>
            <h3>Search Results :</h3>
            <table>
                <thead>
                    <tr>
                        <th>M-ID</th>
                        <th>Medication Name</th>
                        <th>Quantity</th>
                        <th>Quantity sold</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Expiration date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Name</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0-0-0000</td>
                        <td> <button type="submit">+</button> <button type="submit">-</button> <button type="submit">Reset</button></td>
                    </tr>
             
                
                </tbody>
            </table>
            <p id="positioned-element">
                <input type="text" placeholder="Pharmacist id"><br><br>
                <input type="text" placeholder="Customer phone">
            </p>
            <br>
            <u><h3>Total Price : </h3></u>
            <br>
            <p>
     <button type="submit">Save & Sell</button> <button type="submit">Cancel</button>
            </p>       
        </nav>
        </main>
    </div>
    <br><br>
    <footer>
        <p>&copy; 2024 My Pharma</p>
    </footer>
</body>
</html>