<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>purchases</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/purchases.css') }}">
</head>
<body>
    <header>
        <h1>My Pharma</h1>
    </header>
    <main>
        <nav>
            <input id="button" type="checkbox">
            <label for="button"></label>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('sales') }}">Sales</a></li>
                <li><a href="{{ url_for('purchases') }}">Purchases</a></li>
                <li><a href="{{ url_for('sales_invoices') }}">Sales invoices</a></li>
                <li><a href="{{ url_for('purchases_invoices') }}">Purchases invoices</a></li>
                <li><a href="{{ url_for('Expire') }}">Expire</a></li>
                <li><a href="{{ url_for('missing') }}">missing</a></li>
                <li><a href="{{ url_for('inventory') }}">inventory</a></li>
                
            </ul>
        </nav>
        <br>
        <h1>purchases</h1>
        <br>
        <div class="search-container">
            <form id="search-form" method="post" action="{{url_for('perform_search_purches')}}">
                <input type="search" id="search-input" onkeyup="search(this.value)" placeholder="Search for Medicine" name="search_purchases">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="search-results"></div>
        <br><br>
        <div>
            <h3>Search Results :</h3>
            <table>
                <thead>
                    <tr>
                        <th>M-ID</th>
                        <th>Medicine Name</th>
                        <th>Quantity</th>
                        <th>Supplier Price</th>
                        <th>Price</th>
                        <th>Expiration date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in search_results %}
                    <tr>
                        <th>{{ result[0] }}</th>
                        <th>{{ result[1] }}</th>
                        <td><input type="number" class="quantity-input" onkeyup="updateTotalPrice(this)"></td>
                        <td><input type="text" class="supply-price-input" onkeyup="updateTotalPrice(this)"></td>
                        <th>{{ result[4] }}</th>
                        <td><input type="text" class="expiration-date-input"></td>
                        <th class="total-price"></th>
                    </tr>
                    {% endfor %}
                </tbody>
                <tbody id="tttable" style="background-color: rgb(206, 209, 212);"></tbody>
                <tbody id="ttable"></tbody>
            </table>
            <p id="positioned-element">
                <input type="text" placeholder="Supplier-ID">
            </p>
            <u>
                <h3 id="totalPrice">Total Price: $0.00</h3>
            </u>
            <p>
                <button type="button" id="saveSellBtn">Save</button>
                <button type="button" id="cancelBtn">Cancel</button>
            </p>
        </div>
    </main>
    <br><br>
    <footer>
        <p>&copy; 2024 My Pharma</p>
    </footer>
    <script src="{{ url_for('static', filename='js/purchases.js') }}"></script>
</body>
</html>